.container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    min-height: calc(100vh - 200px); /* 100% Viewport Height - 200px for top and bottom margin */
    box-sizing: border-box;
}

.left-half {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drei Spalten */
    grid-template-rows: repeat(2, 1fr); /* Zwei Reihen */
    gap: 1px;
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    
}

.right-half {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1px;
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;

}


.smallbox {
    background-color: green;
    height: 50px;
    width: 50px;
}

.bigbox {
    background-color: green;
    height: 100px;
    width: 100px;
}