.higherbox {
    background-color: lightgreen;
    width: 30px;
    height: 30px;
    margin: 10px;
}

.higherblock {
    position: relative;
    background-color: yellow;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
    align-items: flex-end;
}

.letterblock {
    position: relative;
    background-color: blue;
    width: 400px;
    height: 300px;
    top: 20px;
    left: 20px;
    padding: 20px;
}

.letter {
    list-style-type: disc;
    padding: 20px;
}

.cornerblock {
    position: absolute;
    background-color: green;
    width: 100px;
    height: 100px;
    right: 0px;
    bottom: 0px;
}

.bottomright {
    position: absolute;
    background-color: orange;
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
}